@use "../../styles/variables" as *;

.page {
  min-height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.wrapper {
  display: grid;
  gap: 16px;
}

.backToExplorerAndPoolWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.backToExplorerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.backBtn {
  display: flex;
  align-items: center;
}

.resultsLength {
  font-size: 1.1rem;
  font-weight: 700;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  color: black;
}


.rouletteSection {
  // gap: 0;
}

.controlAndResult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.resultWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.result {
  color: $pd3-lightgreen;
  font-size: 1.3rem;
  font-weight: 600;
}