.confettiContainer {
  position: fixed;
  pointer-events: none;
  // transform: translate(-50%, -50%);
  z-index: 9999;
}

.confettiParticle {
  border-radius: 2px;
  will-change: transform, opacity;
  //   position: absolute;
//   width: 8px;
//   height: 8px;
//   border-radius: 2px;
}