@font-face {
  font-family: "Rift";
  src: url("../assets/fonts/Rift-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Rift";
  src: url("../assets/fonts/Rift-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Rift";
  src: url("../assets/fonts/Rift-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Rift";
  src: url("../assets/fonts/Rift-Demi.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Rift";
  src: url("../assets/fonts/Rift-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "DIN2014";
  src: url("../assets/fonts/DIN-2014_Extra-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "DIN2014";
  src: url("../assets/fonts/DIN-2014_Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "DIN2014";
  src: url("../assets/fonts/DIN-2014_Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DIN2014";
  src: url("../assets/fonts/DIN-2014_Demi.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "DIN2014";
  src: url("../assets/fonts/DIN-2014_Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "DIN2014";
  src: url("../assets/fonts/DIN-2014_Extra-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "DINEngschrift";
  src:
    url("../assets/fonts/DINEngschrift.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Padaloma";
  src: url("../assets/fonts/Padaloma.ttf") format("truetype");
  font-style: normal;
}
