@use "../styles/variables" as *;
@use "../styles/fonts.scss" as *;
@use "sass:color";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  color-scheme: dark;
  // height: 100%;
}

body {
  font-family: 'Rift', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: $text;

    width: 100%;
    background: #333;
    background-image: url("/bg/pd3-bg.jpg");
    background-blend-mode: multiply;
    background-position: center center;
}

input, select, textarea, label, .font-din {
  font-family: 'DIN2014';
}

button {
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
  color: $color-text-primary;
  // background-color: $pd3-main;
  background: rgba($pd3-main, 1);
  padding: 8px 12px;
  border: none;
  transition: filter 0.2s;

  --c: 8px;

  clip-path: polygon(
    var(--c) 0%,
    100% 0%,
    calc(100% - var(--c)) 100%,
    0% 100%
  );

  &:hover {
    // background-color: $pd3-hover;
    background: rgba($pd3-hover, 0.5);
  }

  // &:active {
  //   transform: translateY(1px);
  // }

  &.primary {

  }
  
  &.secondary {
    font-family: 'DIN2014';
    padding: $space-sm $space-md;
    background: $color-bg-surface;
      &:hover {
        filter: brightness(1.5);
      }
  }

  &.danger {
    font-family: 'DIN2014';
    padding: $space-sm $space-md;
    background: rgba($color-danger, 0.12);
      &:hover {
        filter: brightness(1.75);
      }
  }
}