.viewport {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.reel {
  display: flex;
  flex-direction: column;
}

.reelItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
