@use "../styles/variables" as *;

.header {
  width: 100%;
  padding: 12px 0;
  backdrop-filter: blur(6px);
  background: rgba(20, 20, 20, 0.65);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  position: sticky;
  top: 0;
  z-index: 50;
  text-align: center;
  white-space: nowrap;

    h1 {
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: 0.02em;
  }
}

.subtitle {
  // color: $text-muted;
  // font-size: 0.95rem;
  white-space: wrap;
  font-weight: 700;
  font-size: 1.5rem;
  color: $pd3-main;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  align-items: center;
  // justify-content: center;
    justify-content: space-between;
  gap: 12px;
}

.title {
  font-size: 1.35rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.4px;
}

.logo {
  height: 42px;
  vertical-align: middle;
}

.authIcon {
  color: gray;
}

@media (min-width: 600px) {
  .header {
    padding: 16px 0;
  }

  .subtitle {
    font-size: 1.5rem;
  }


  .logo {
    height: 48px;
  }
}

  @media (max-width: 400px) {
    .subtitle {
      font-size: 1.2rem;
    }
  }